/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: blue;
    -fx-font-size: 30px;
}


